{% extends 'base.html.twig' %}

{% block title %}Cadastre a Categoria!{% endblock %}

{% block body %}

    <h2 class="text-white ml-auto mr-auto text-center mt-5">Cadastro de Categoria</h2>
    <br>
    <div class="justify-content-center text-center mr-auto ml-auto row text-white">

        {{ form_start(form_cat) }}

        {{ form_widget(form_cat) }}

        {{ form_end(form_cat) }}
        <div>

        </div>

    </div>

{% endblock %}
