{% extends '/base.html.twig' %}
{% block body %}


<table class="table  table-striped text-white w-100"  id="categoria">
    <thead class="thead-light">
    <tr>
        <th >
            <h4>Nome</h4>
        </th>
        <th class="ml-auto">
            <h4>Opções</h4>
        </th>
    </tr>
    </thead>
    <tbody>
        {% for categoria in categorias %}
    <tr>
            <td class="text-white">
                {{ categoria.nome }}
                {{ categoria.id }}
            </td>
            <td >
                <a href="/categoria/edit_categoria/{{ categoria.id }}" class="btn btn-warning">Editar</a>

            <a class="btn btn-danger delete"  data-id="{{ categoria.id }}">Deletar</a>
        </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
    </div>
    </div>
{% endblock %}