{% extends 'base.html.twig' %}

{% block title %}Edite o Post!{% endblock %}

{% block body %}

    <h2 class="text-white ml-auto mr-auto text-center mt-5">Edição de Post</h2>
    <br>
    <div class="justify-content-center text-center mr-auto ml-auto row text-white">

        {{ form_start(form_post) }}

        {{ form_widget(form_post) }}

        {{ form_end(form_post) }}
    </div>
    </div>
    </div>

{% endblock %}