{% extends '/base.html.twig' %}
{% block body %}

        <table class="table  table-striped text-white" id="post">
            <thead class="thead-light">
            <tr>
                <th >
                    <h4>Nome</h4>
                </th>
                <th>
                    Descrição
                </th>
                <th class="ml-auto">
                    <h4>Opções</h4>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td class="text-white">
                        {{ post.title }}
                    </td>s
                    <td class="text-white">
                        {{ post.descricao }}
                    </td>
                    <td >
                        <a href="/post/edit/{{ post.id }}" class="btn btn-warning">Editar</a>

                        <a class="btn btn-danger delete post"  data-id="{{ post.id }}" >Deletar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}